/* Load SteamDB styles */
@import url("https://cdn.jsdelivr.net/gh/SteamDatabase/BrowserExtension@latest/styles/community.css");
@import url("https://cdn.jsdelivr.net/gh/SteamDatabase/BrowserExtension@latest/styles/global.css");
@import url("https://cdn.jsdelivr.net/gh/SteamDatabase/BrowserExtension@latest/styles/inventory.css");
@import url("https://cdn.jsdelivr.net/gh/SteamDatabase/BrowserExtension@latest/styles/store.css");